<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679715313540-4026j42ckpjdo7uf92hgivqa7d3ubb34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679715313540-4026j42ckpjdo7uf92hgivqa7d3ubb34</string>
	<key>API_KEY</key>
	<string>AIzaSyDA-pOR3Q27HnbxkDzbdkX2RgkQq4O9OJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>679715313540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ttm</string>
	<key>PROJECT_ID</key>
	<string>rfks-ttm</string>
	<key>STORAGE_BUCKET</key>
	<string>rfks-ttm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679715313540:ios:5bea6d24b9a215820a6fd1</string>
</dict>
</plist>